.current-weather-section {
  display: flex;
  align-items: center;
  min-height: 280px;        
  background: url("../assets/images/bg-today-large.svg") no-repeat center;
  background-size: cover;  
  border-radius: 12px;
  padding: 2rem;
  position: relative;
}

.current-weather {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
   z-index: var(--z-base);
}

.current-weather .current-weather-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.current-weather h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.current-date {
  margin: 1rem 0;
  color: var(--light-gray);
}
.current-temp{
  font-size: 3.55rem;
  font-weight: 500;
}
.current-weather img {
  width: 80px;
  height: 80px;
}
