.hourly-forecast {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
    height: 100%;
  padding: 1rem;
}

.hourly-forecast-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hourly-list {
  overflow-y: auto;
  min-height: 0;
}

.hour-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue) !important;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  margin: 14px 0;
}

.hourly-icons{
  display: flex;
  align-items: center;
}
.hour-card span {
  font-size: 1rem;
  color: var(--white);
}

.day-dropdown {
  margin-bottom: 1rem;
}

.day-dropdown select {
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  color: var(--white);
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
  background-color: var(--very-light-gray);
}

.day-dropdown select:hover {
  background-color: var(--light-blue);
}

.day-dropdown select:focus {
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 2px rgba(68, 97, 242, 0.4);
  /* blue glow */
}