.search-bar {
  /* grid-area: search; */
  text-align: center;
  margin: 1.5rem auto;
}

.search-bar h1 {
  font-size: 1.9rem;
  margin-bottom: 3rem;
  font-family: var(--font-heading);
}

.search-bar-form {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  max-width: 600px;
  margin: 0 auto;
  align-items: start;
}

.search-bar-form input {
  padding: 0.9rem 1.2rem 0.9rem 3.55rem;
  border-radius: 12px;
  background: var(--light-blue);
  color: var(--white);
  font-size: 1rem;
  outline: 2px solid transparent;
  border: 3px solid transparent;
  position: relative;
  width: 100%;
}
.search-bar-form  img{
  position: absolute;
height: 1.22rem;
    left: 0.99rem;
    position: absolute;
    top: 1.19rem;
    width: 2.1rem;
    z-index: 1;
}

.search-bar-form input::placeholder {
  color: var(--light-gray);
}
.inputs{
    flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-bar-form button {
  background: var(--primary-blue);
  border: 3px solid transparent;
  color: var(--white);
  font-size: 1.11rem;
  border-radius: 12px;
  padding: 0.9rem 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
  outline: 2px solid transparent;
}

/* when focus */
.search-bar button:focus {
  border-color: var(--dark-blue);
  outline-color: var(--primary-blue);
}

.search-bar-form input:focus {
  outline-color: var(--white);
  border-color: var(--dark-blue);
}

/* when hover */
.search-bar-form button:hover {
  background: var(--dark-blue-accent);
}

/* .search-bar-form input::before{
   
      background-image: url("../assets/images/icon-search.svg");
    content: "";
    height: 2.1rem;
    left: 2.4rem;
    position: absolute;
    top: 1.8rem;
    width: 2.1rem;
} */
