.search-bar {
  /* grid-area: search; */
  text-align: center;
  margin: 1.5rem auto;
}

.search-bar h1 {
  font-size: 1.9rem;
  margin-bottom: 3rem;
  font-family: var(--font-heading);
}

.search-bar-form {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  max-width: 600px;
  margin: 0 auto;
  align-items: start;
}

.search-bar-form input {
  padding: 0.9rem 1.2rem 0.9rem 3.55rem;
  border-radius: 12px;
  background: var(--light-blue);
  color: var(--white);
  font-size: 1rem;
  outline: 2px solid transparent;
  border: 3px solid transparent;
  position: relative;
  width: 100%;
}

.search-bar-form .input-box img {
  position: absolute;
  height: 1.22rem;
  left: 0.99rem;
  position: absolute;
  top: 1.19rem;
  width: 2.1rem;
  z-index: 1;
}

.search-bar-form input::placeholder {
  color: var(--light-gray);
}

.inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}



/* when focus */
.search-bar button:focus {
  border-color: var(--dark-blue);
  outline-color: var(--primary-blue);
}

.search-bar-form input:focus {
  outline-color: var(--white);
  border-color: var(--dark-blue);
}



.custom-btn {
  position: relative;
  background: var(--primary-blue);
  border: 3px solid transparent;
  color: var(--white);
  font-size: 1.11rem;
  line-height: 16px;
  font-weight: 500;
  border-radius: 12px;
  transition: all 0.5s linear;
  text-transform: capitalize;
  /* z-index: 1; */
    z-index: var(--z-base);
  transition: background 0.2s linear;
  cursor: pointer;
  outline: 2px solid transparent;
  padding: 0.88rem 1.55rem;
  display: inline-block;

}

.custom-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  background-color: var(--dark-blue-accent);
  opacity: 0;
  z-index: -1;
   outline: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  border: 3px solid transparent;

 z-index: -1;

}

.custom-btn::after {
  position: absolute;
  background-color: var(--dark-blue-accent);
  bottom: 0;
  right: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  border: 3px solid transparent;

     z-index: -1;
}


.custom-btn:hover{
  outline: none !important;

}

.custom-btn:hover::before {
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.custom-btn:hover::after {
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
}
