* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  background-color: var(--dark-blue);

}


h3{
  font-weight: 500;
  font-size: 19px;
}
.app-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "search search"
    "current hourly"
    "stats hourly"
    "daily hourly";
  grid-template-columns: 2fr 1fr;

grid-template-rows: auto auto auto auto minmax(0, 1fr);


  gap: 1.2rem;
  padding: 2rem;
  background-color: var(--dark-blue);
  min-height: 100vh;
  font-family: var(--font-body);
  color: var(--white);

}

/* Assign sections to grid areas */
.header-section {
  grid-area: header;

}

.current-weather-section,
.daily-forecast-section,
.hourly-forecast-section,
.weather-stats-section {
  border-radius: 12px;

}

.search-bar-section {
  grid-area: search;

}

.current-weather-section {
  grid-area: current;
  display: flex;
  align-items: center;
  min-height: 280px;        
  background: url("../src/assets/images/bg-today-large.svg") no-repeat center;
  background-size: cover;  
  border-radius: 12px;
  padding: 2rem;
  position: relative;

}

.weather-stats-section {
  grid-area: stats;
}

.daily-forecast-section {
  grid-area: daily;
  /* background-color: var(--very-light-gray); */
  /* min-height: 278px;
  max-height: 278px;  */
}

.hourly-forecast-section {
  grid-area: hourly;

    /* border: 1px solid var(--very-light-gray); */
    background: var(--mid-blue);
    max-height: 704px;
}

button {
  border: none;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1000;
}






